@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.small-cloud {
  width: 32px;
  height: 27px;
}

.toTop {
  animation: cloudToTop 3s linear infinite;
}

.toBottom {
  animation: cloudToBottom 3s linear infinite;
}

.rainPoint1 {
  animation: rain 1s linear infinite;
  animation-delay: 0s;
}

.rainPoint2 {
  animation: rain 1s linear infinite;
  animation-delay: 0.3s;
}

.rainPoint3 {
  animation: rain 1s linear infinite;
  animation-delay: 0.6s;
}

@keyframes rain {
  0% {
    top: 37px;
    opacity: 0;
  }

  5% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    top: 50px;
    opacity: 0;
  }
}

@keyframes cloudToTop {
  from {
    transform: translateY(100px);
  }

  to {
    transform: translateY(0px);
  }
}

@keyframes cloudToBottom {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(100px);
  }
}